div#headerFrame {
  width: 100%;
  padding: 15px 20px;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
}

div#headerFrame div#logoPosition {
  width: 900px;
  /* border: 1px solid #000; */
  display: flex;
  align-items: baseline;
}

div#headerFrame p {
  /* color: #f80; */
  font-size: 37px;
  font-family: "Antonio", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}