@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic:wght@400;700;800&display=swap');

div#headerFrame {
  width: 100%;
  padding: 15px 20px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#headerFrame p {
  color: #fff;
  font-size: 34px;
  font-family: "Antonio", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

div#headerFrame button {
  font-size: 25px;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  height: 50px;
  padding: 0 20px;
}